.home44{
    width: 35rem;
    height: 40rem;
}
.home45{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    gap: 5rem;
}
@media only screen and (max-width: 575px)
{
    .home45{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 0.5rem;
    }
    .home44{
        width: 100%;
    }
}

/*@media only screen and (max-width: 768px)
{
    .home45{
        display: flex;
        flex-direction: column;
        width: 146%;
        font-size: 0.5rem;
    }
    .home44{
        width: 100%;
    }
}
    */