.home1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 3rem;
    background-color: #FAF9F6;
    
}
.home2{
    width: 60%;
    
}
.home3{
    padding-left: 12rem;
    padding-top: 4rem;
    
}
.home3 h1{
    font-size: 4rem;
    color: black;
}
@media only screen and (max-width: 575px)
{
    .home1{
        
        display: flex;
         flex-direction: column;
                  
           
    width: 100%;
           
    }
    .home3{
        text-align: center;
        margin-left: -5rem;
        width: 100%;
    }

    
}


/*@media only screen and (max-width: 768px)
{
    .home1{
    
        display: flex;
         flex-direction: column;
          justify-content: center;   
    }
    .home3{
        margin-left: -10rem;
        font-size: 1rem;
    
    }

}
    */